<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- Bring In jQuery -->
    <script src="/bower_components/jquery/jquery.js"></script>

    <!-- Bring In Bootstrap -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="font-awesome-4.0.1/css/font-awesome.min.css">

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="/jsbootcamp.css">
    <script src="/bower_components/chart.js/chart.js"></script>
    <script src="/test_chart.js"></script>

  </head>

  <body>
  <h1>Another list of all contacts so I can mess around with handlebars:</h1>
  {{#each contacts}}
  <div>{{firstName}}</div>
  {{/each}}
  <canvas id="myChart" width="400" height="400"></canvas>
  </body>
  </html>
